<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist App | Ari</title> <!-- Judul yang tampil pada website -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> <!-- menggunakan fw bootstrap agar tampilan lebih responsive -->
    <link rel="icon" type="image/png" sizes="32x32" href="img/test.png">
    <style>
      body {margin: 5%;}
      .completed {text-decoration: line-through;}
    </style>
    <script type="text/javascript">
      $(document).ready(function(){
        $('#todo_baru').focus();
      });
    </script>
  </head>
  <body>

    <div class="container" id="app"> <!-- class yg tersedia pada bootstrap, agar terhubung antara objek vue dengan DOM kita beri atribut id dengan valuenya app  -->
      <h4>Todo <strong>List</strong> </h4>
      <!-- membuat inputan user untuk bisa ditambahkan pada data di vuenya -->
      <div class="form-group">
        <input id="todo_baru" type="text" placeholder="Todo Baru..." v-model="newTodo" v-on:keyup.enter="addTodo" autofocus  />
      </div>
      <ul>
         <!-- Akan tampil ketika panjang dari todos lebih dari 0 atau lebih tepatnya ada nilainya -->
         <li v-if="!todos.length"><code>Belum ada tugas cuy..</code></li>
         <li v-for="todo, index in todos">
           <mark v-bind:class="{'completed': todo.is_completed}"> {{ todo.text }} </mark> <!-- handlebars untuk menampilkan data dari Array Objects, dipanggil satu persatu karena menggunakan directive v-for -->
           <a href="#" class="badge badge-danger" v-on:click="removeTodo(index)"> &times; </a>
           <a href="#" class="badge badge-success" v-on:click="toggle(todo)"> Done </a>
         </li>
      </ul>
    </div>

    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script> <!-- gunakan fw vue untuk pemrosesan pada layer frontend -->

    <script type="text/javascript">
      new Vue({
        el: "#app", //data yang dibutuhkan, untuk koneksi dengan DOM html
        data: {
          todos : [], //daftar list todonya sbg Array Object terdiri dari key dan value
          //is_completed : false, tipe boolean bertujuan untuk todolist yang sudah selesai akan bernilai true
          newTodo: null //property tini bernilai kosong berguna ketika user menginputkan data melalui form
        },
        // sekarang pembuatan method yang ada pada vuejs yaitu addTodo
        methods: {
          addTodo: function(){ //fungsi untuk menambahkan data, kita gunakan kaidah penulisan kode javascript
            var newItem = this.newTodo.trim(); // lakukan validasi terlebih dahulu dengan membuat variabel newItem dari inputan user
            if(newItem){
              this.todos.push({text: newItem, is_completed: false}); //akses property gunakan keyword this diikuti dengan nama property yaitu todos (array objectnya), masukkan parameternya berupa nama keynya adalah text dan valuenya berupa inputan dari user. Ingat newTodo adalah v-model dari inputan user
              this.newTodo = "";
              localStorage.setItem("lists", JSON.stringify(this.todos));
            } // validasi, yaitu jangan sampai datanya kosong bisa ditambahkan ke objek vue
          },
          removeTodo: function(index){
            this.todos.splice(index, 1);
            localStorage.removeItem("lists", JSON.stringify(this.todos));
          },
          remove: function(index){
            this.todos.$delete(this.todos, index); //artinya adalah menghapus hanya 1 item yang indexnya terpilih. metode splice ini adalah metode js untuk menghapus nilai index array objectnya
          },
          toggle: function(todo){
            //todo.is_completed = true; //awalnya false berubah menjadi true secara terus menerus
            todo.is_completed = !todo.is_completed;
            localStorage.setItem("lists", JSON.stringify(this.todos));
            // console.log(todo.is_completed);
          },
        },
        mounted : function() {
          if (localStorage.getItem("lists")) {
            try {
              this.todos = JSON.parse(localStorage.getItem("lists"));
            } catch (e) {
              localStorage.removeItem("lists");
            }
          }
        }
      });
    </script>
    <!-- saatnya menggunakan vuejs *diatas -->
  </body>
</html>

<!-- referensi: https://www.dumetschool.com/blog/cara-membuat-aplikasi-todolist-vue-js-part-[1-10] -->
<!-- Penting: https://www.dumetschool.com/blog/cara-membuat-aplikasi-todolist-vue-js-part-6 -->
